.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 70px;
  width: 100vw;
  background-color: #230a4a;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 70px;
  width: 100vw;
  background-color: #230a4a;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  margin-bottom: 10px;
  font-weight: bold;
  color: #230a4a;
}

img {
  width: 120px;
  height: 80px;
  margin-bottom: 30px;
}

input {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #230a4a;
}

input:focus {
  border: none;
}

button {
  background-color: #230a4a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}

.qrContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.qrContainer p {
  color: #230a4a;
}

.qrCode{
  background-color: #fff;
  margin-top: 20px;
}

.qrCode img{
  width: 200px;
  height: 200px;
}

.downloadButton{
  background-color: #230a4a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  width: 55px;
}